* {
	margin: 0;
	/* Restablecer margen */
	padding: 0;
	/* Restablecer relleno */
	box-sizing: border-box;
	/* Asegura que el ancho y alto de los elementos incluyan el padding y el borde */
}

nav.principal {
	width: 100%;
	/* Ancho completo del navegador */
	height: 90px;
	/* Altura del navegador */
	background-color: black;
	/* Color de fondo del navegador */
	color: white;
	/* Color del texto del navegador */
	text-align: center;
	/* Alineación del texto en el centro */
	padding: 20px;
	/* Relleno del navegador */
	display: flex;
	/* Utilizar flexbox para el diseño */
	justify-content: space-between;
	/* Espacio entre los elementos del navegador */
	align-items: center;
	/* Alinear los elementos del navegador verticalmente al centro */

}

img {

	width: 90px;
	/* Ancho de la imagen del logo */

}

nav.principal ul {
	display: flex;
	/* Utilizar flexbox para el diseño de la lista */
	gap: 20px;
	/* Espacio entre los elementos de la lista */
	list-style: none;
	/* Eliminar viñetas de la lista */
}

nav.principal ul li a {
	color: white;
	/* Color del texto de los enlaces */
	text-decoration: none;
	/* Eliminar subrayado de los enlaces */
}

/*-------------------------------------------------------------------------------------*/

nav.segundaria {
	width: 10%;
	/*ancho completo del navegador*/
	height: 690px;
	/*altura del navegador*/
	background-color: black;
	/*color de fondo del navegador*/
	color: white;
	/*color del texto del navegador*/
	text-align: center;
	/* Alineación del texto en el centro */
	display: flex;
	/* Utilizar flexbox para el diseño */
	flex-direction: column;
	/* Dirección de la columna */
	padding: 10px;
	/* Relleno del navegador */
	align-items: center;
	/* Alinear los elementos verticalmente al centro */
	gap: 20px;
	justify-content: space-between;
	/* Espacio entre los elementos del navegador */


}

nav.segundaria ul li a {
	color: white;
	/* Color del texto de los enlaces */
	text-decoration: none;
	/* Eliminar subrayado de los enlaces */

}

nav.segundaria ul {
	display: flex;
	/* Utilizar flexbox para el diseño */
	flex-direction: column;
	/* Dirección de la columna */
	gap: 25px;
	/* Espacio entre los elementos de la lista */
	list-style: none;
	/* Eliminar viñetas de la lista */
	align-items: flex-start;
	/* Alinear los elementos del navegador verticalmente al inicio */
}

nav.segundaria ul li {
	display: flex;
	/*utiliza flexbox para el diseño*/
	justify-content: space-between;
	/*espacio entre los elementos del navegador*/
	align-items: flex-start;
	/* Alinear los elementos del navegador verticalmente al inicio */
	width: 100%;
	/* Ancho completo del elemento de la lista */
	height: 50px;
	/* Altura del elemento de la lista */

}

nav.segundaria i {
	font-size: 30px;
	/* Tamaño de la fuente de los iconos */
	color: white;
	/* Color del texto de los iconos */
	display: flex;
	/*utiliza el flexbox para el diseño*/
}

/*-------------------------------------------------------------------------------------*/

nav.tercearia {
	width: 90%;
	/*ancho completo del navegador*/
	height: auto;
	/*altura del navegador*/
	background-color: rgb(195, 193, 193);
	/*color de fondo del navegador*/
	text-align: center;
	/* Alineación del texto en el centro */
	padding: 10px;
	/* Relleno del navegador */

}

nav.tercearia article {
	display: flex;
	/* Utilizar flexbox para el diseño */
	justify-content: space-between;
	/* Espacio entre los elementos del navegador */
	border-radius: 20px;
	/* Bordes redondeados del navegador */
	flex-direction: row-reverse;
	/* Dirección de la fila inversa */
	flex-wrap: nowrap;
	/* No permitir que los elementos se envuelvan */
	padding: 20px;
	/* Relleno del artículo */
}

nav.tercearia article section {
	display: flex;
	/* Utilizar flexbox para el diseño */
	flex-direction: row;
	/* Dirección de la fila */
	align-items: center;
	/* Alinear los elementos del navegador verticalmente al centro */
	padding: 10px 60px;
	/* Relleno de la sección */
	border-radius: 12px;
	/* Bordes redondeados de la sección */
	background-color: rgb(255, 255, 255);
	/* Color de fondo de la sección */
	text-align: center;
	/* Alinear el texto en el centro */
	height: auto;
	/* Altura automática de la sección */
	gap: 10px;
	/* Espacio entre los elementos de la sección */
	width: 20%;
	/* Ancho de la sección */
	box-shadow: 2px 4px 6px #000000;
	/* Sombra del navegador */

}

main {
	display: flex;
	/* Utilizar flexbox para el diseño */
	flex-direction: row;
	/* Dirección de la fila */
	justify-content: space-between;
	/* Espacio entre los elementos del navegador */
}

nav.tercearia article section i {
	font-size: 24px;
	/* Tamaño de la fuente de los iconos */
	color: rgb(255, 37, 37);
	/* Color del texto de los iconos */
	background-color: rgb(178, 178, 178);
	/* Color de fondo de los iconos */
	border-radius: 50%;
	/* Bordes redondeados de los iconos */
	padding: 10px;
	/* Relleno de los iconos */
	width: 40px;
	/* Ancho del fondo de los iconos */
	display: flex;
	/* Utilizar flexbox para el diseño */
	justify-content: center;
	/* Alinear los elementos del navegador verticalmente al centro */
	align-items: center;
	/* Alinear los elementos del navegador verticalmente al centro */
}

nav.tercearia article section .texto-contenedor {
	display: flex;
	/* Utilizar flexbox para el diseño */
	flex-direction: column;
	/* Dirección de la columna */
	align-items: center;
	/* Alinear los elementos del navegador verticalmente al inicio */
	justify-content: space-between;
	/* Espacio entre los elementos del navegador */
	gap: 5px 20px;
	/* Espacio entre los elementos de la sección */

}

nav.tercearia article section h4,
nav.tercearia article section h5 {
	color: rgb(248, 128, 128);
	/* Color del texto */
	font-size: 20px;
	/* Tamaño de la fuente */
}

nav.tercearia article section h1 {
	font-size: 20px;
	/* Tamaño de la fuente */
	font-weight: bold;
	/* Negrita del texto */
	color: black;
	/* Color del texto */
}

nav.tercearia article section h3 {
	font-size: 14px;
	/* Tamaño de la fuente */
	color: rgb(23, 179, 105);
	/* verde del +23% */
}

nav.tercearia article section img {
	width: 50px;
	/* Ancho de la imagen */
	height: 50px;
	/* Altura de la imagen */
}

/*-------------------------------------------------------------------------------------*/
article.cuartaria {
	display: flex;
	width: 90%;
	overflow-x: auto;
	/* Permitir desplazamiento horizontal */
}